<!DOCTYPE html>
<html>

    <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0,maximum-scale=1.0">
        
        <!-- 🐩 [start]: insert fonts by beautiful monster -->
        {{ fonts }}
        <!-- 🐩 [end]: insert fonts by beautiful monster -->

        <!-- 🐩 [start]: insert icons by beautiful monster -->
        {{ icons }}
        <!-- 🐩 [end]: insert icons by beautiful monster -->

        <!-- 🐩 [start]: insert ogp by beautiful monster -->
        {{ ogp }}
        <!-- 🐩 [end]: insert ogp by beautiful monster -->
    </head>

    <body>

        <header></header>
        <main>
        </main>
        <footer>powered by beautiful monster</footer>

    </body>


</html>